audios
avatar_generation_api
avt_videos
avt_videos_ref
bg_vids
fin_videos
fonts
images
kar
online_images
output_files
ppts
processed_files
prompts
temp_frames_store
.env
avt_videos.zip
final_video.mp4
reference_video.mp4
processed_files.zip
response.txt
updated_presentation.pdf
updated_pdf.pdf
uploaded_pdf.pdf

